<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <style type="text/css">
		table {
	  		border-collapse: collapse;
	  		width: 100%
		}
		th{

		}
		table, td, th {
		  	border: 1px solid black;
  			padding: 10 px
	  		text-align: center;

		}
		th, td {
  			padding: 15px;
  			text-align: left;
		}
    </style>
</head>
<body>
    <h1>Home page</h1>
    <p>Menu</p>

    <table>
    	<tr>
    		<th>name</th>
    		<th>price</th>
    	</tr>
    	<tr>
    		<td>yousef</td>
    		<td>unlimited</td>
    	</tr>
    	<tr>
    		<td>sultan</td>
    		<td>unlimited</td>
    	</tr>
    </table>
</body>
</html>	